<section>
  <header>
    <form action="#" method="get">
      <label for="ingredients_search">Search by ingredients</label>
      <input type="text" id="ingredients_search" name="ingredients" />
    </form>
  </header>
</section>

<section>
  <header>
    <h2>Add a recipe!</h2>
  </header>
</section>
